@model Tarea4.Models.CuidadorHabitat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CuidadorHabitat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuidador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuidador.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitat.NombreHabitat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
