/* Ajustes responsivos */
@media (max-width: 768px) {
    .intro-section {
      flex-direction: column;
    }
    .intro-text, .intro-image {
      flex: 1 1 100%;
      text-align: center;
    }
    .features-grid {
      flex-direction: column;
    }
    .testimonios-grid {
      flex-direction: column;
    }
    
  }
