@model PruebaParcial2.Models.Organizador

@{
    ViewData["Title"] = "Detalles del Organizador";
}

<h1 class="text-center">Detalles del Organizador</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="text-muted">Información del Organizador</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">Nombre</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Nombre)</dd>
                    <dt class="col-sm-4">Tipo de Organización</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.TipoOrganizacion)</dd>
                </dl>
                <div class="d-flex justify-content-between mt-3">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
                </div>
            </div>
        </div>
    </div>
</div>