@model PruebaParcial2.Models.EventoParticipante

@{
    ViewData["Title"] = "Detalles del Participante en Evento";
}

<h1 class="text-center">Detalles del Participante en Evento</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="text-muted">Información del Registro</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">Evento</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Evento.Nombre)</dd>

                    <dt class="col-sm-4">Fecha de Inscripción</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaInscripcion)</dd>

                    <dt class="col-sm-4">Participante</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Participante.Nombre)</dd>
                </dl>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
                <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>