@model IEnumerable<Tarea5.Models.ProductoModel>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Productos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <script>
    $(document).ready(() => {
        // Cargar la lista de productos
        $.get("../../Producto/ListaProductos", (ListaProductos) => {
            let html = "";
            $.each(ListaProductos, (index, producto) => { 
                html += `
                    <tr>
                        <td>${index + 1}</td>
                        <td>${producto.nombreProducto}</td>
                        <td>${producto.presentacion}</td>
                        <td>${producto.codigoBarras}</td>
                        <td>
                            <a class="btn btn-outline-warning" href="/Producto/Edit/${producto.id}">Edit</a> |
                            <a class="btn btn-outline-info" href="/Producto/Details/${producto.id}">Details</a> |
                            <a class="btn btn-outline-danger" href="/Producto/Delete/${producto.id}">Delete</a>
                        </td>
                    </tr>
                `;
            });
            // Insertar las filas de productos en la tabla
            $("#tablaProductos tbody").html(html);
        }).fail(() => {
            console.error("Error al cargar la lista de productos.");
        });
    });
</script>

        <!-- Tabla de Productos -->
        <table class="table table-responsive table-bordered table-striped" id="tablaProductos">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre Producto</th>
                    <th>Presentación</th>
                    <th>Código de Barras</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        