@model IEnumerable<Tarea7.Models.DetalleFacturaModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="no-print">Index</h1>
<div class="row-cols-2" id="imprimir">
    <div class="col-md-12">
        <label class="control-label no-print">Clientes</label>
        <select class="form-select no-print" id="listaClientes" onchange="unCliente()">

        </select>
        <button onclick="nuevoCliente()" class="btn btn-outline-primary no-print"><i
                class="icon-user-plus"></i></button>
        <input hidden value="0" id="nuevoCliente" />
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-responsive table-striped todoelancho">
            <tr>
                <td colspan="3"><label>Nombre del Cliente</label></td>
                <td colspan="3"><label>Direccion</label></td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="input-group">
                        <i class="icon-user no-print"></i>
                        <input class="form-control" id="NombreCliente" disabled="disabled" />
                    </div>
                </td>
                <td colspan="3">
                    <i class="icon-address-book no-print"></i>
                    <input class="form-control" id="DireccionCliente" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td colspan="3"><label>Telefono</label></td>
                <td colspan="3"><label>Correo Electonico</label></td>
            </tr>
            <tr>
                <td colspan="3">
                    <i class="icon-phone-hang-up no-print"></i>
                    <input class="form-control" id="TelefonoCliente" disabled="disabled" />
                </td>
                <td colspan="3">
                    <i class="icon-envelop  no-print"></i>
                    <input class="form-control" id="EmailCliente" disabled="disabled" />
                </td>
            </tr>
        </table>
        <button onclick="limpiarcajas()" id="cancelar" class="btn btn-outline-danger no-print">Cancelar</button>

        <button onclick="listaProductos()" class="btn btn-outline-success no-print" data-bs-toggle="modal"
            data-bs-target="#productos">Agregar Producto</button>
        <button onclick="guardarFactura()" class="btn btn-success no-print">Guardar Factura</button>
        <button onclick="imprimirFactura()" class="btn btn-primary no-print">Imprimir Factura</button>

    </div>

    <div class="col-md-12">
        <table class="table table-responsive table-bordered table-striped todoelancho" id="tablaclientes">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Nombre Producto
                    </th>
                    <th>
                        Precio Unitario
                    </th>
                    <th>
                        Total
                    </th>

                </tr>
            </thead>
            <tbody id="cuerpoTabla">
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-end">Subtotal:</td>
                    <td id="subtotal">0.00</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-end">Descuento:</td>
                    <td>
                        <input id="descuentoId" onfocusouy="actualizarTotal()" class="form-control" type="number"
                               placeholder="5%" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-end">Descuento:</td>
                    <td id="descuento">0.00</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-end">IVA 15%:</td>
                    <td id="iva">0.00</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-end">Total a Pagar:</td>
                    <td id="total">0.00</td>
                </tr>
            </tfoot>
        </table>

    </div>

</div>


<div class="modal fade" id="productos" tabindex="-1" aria-labelledby="Productos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lista de Productos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="mb-3">
                        <table class="table table-bordered">
                            <tr>
                                <td>Buscador</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="buscadorProductos" value="" class="form-control" placeholder="Buscar producto..." />
                                </td>
                            </tr>
                          <tr>
                              <table class="table table-bordered table-responsive table-striped">
                                  <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre Producto</th>
                                        <th>Cantidad</th>
                                        <th>Valor</th>

                                    </tr>
                                  </thead>
                                  <tbody id="cuerpoproducto">
                                      
                                  </tbody>
                              </table>
                          </tr>
                        </table>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_agregar"  >Agregar Producto</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>